<header class="header">
    <div class="header__wrapper">
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="/" class="header__nav-item-link active">Home</a>
                </li>

                <li class="header__nav-item">
                    <a href="#" class="header__nav-item-link">About us</a>
                </li>

                <li class="header__nav-item">
                    <a href="#" class="header__nav-item-link">How It Works</a>
                </li>

                <li class="header__nav-item">
                    <a href="#" class="header__nav-item-link">FAQ</a>
                </li>
            </ul>

            <div class="header__links">
                <a href="#" class="header__links-link">Log in</a>

                <a href="#" class="header__links-link">Register</a>
            </div>
        </nav>
    </div>
</header>