<header class="header">
    <div class="header__wrapper">
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="/" class="header__nav-item-link active">Home</a>
                </li>

                <li class="header__nav-item">
                    <a href="#about" class="header__nav-item-link">About us</a>
                </li>

                <li class="header__nav-item">
                    <a href="#works" class="header__nav-item-link">How It Works</a>
                </li>

                <li class="header__nav-item">
                    <a href="#faq" class="header__nav-item-link">FAQ</a>
                </li>
            </ul>

            <div class="header__links">
                <a href="https://greycardinals.scaleo.app/login" rel="nofollow" class="header__links-link">Log in</a>

                <a href="https://greycardinals.scaleo.app/signup/affiliate" rel="nofollow" class="header__links-link">Register</a>
            </div>
        </nav>
    </div>

    <nav class="header__mobile-nav">
        <a href="/" class="header__mobile-nav-logo">
            <img loading="eager" src="./img/logo.webp" width="50" height="50" alt="Logo">
        </a>

        <div class="header__mobile-burger">
            <span></span>
        </div>
    </nav>

    <nav class="header__mobile-menu">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="/" class="header__nav-item-link active">Home</a>
            </li>

            <li class="header__nav-item">
                <a href="#about-us" class="header__nav-item-link">About us</a>
            </li>

            <li class="header__nav-item">
                <a href="#works" class="header__nav-item-link">How It Works</a>
            </li>

            <li class="header__nav-item">
                <a href="#faq" class="header__nav-item-link">FAQ</a>
            </li>
        </ul>

        <div class="header__links">
            <a href="https://greycardinals.scaleo.app/login" rel="nofollow" class="header__links-link">Log in</a>

            <a href="https://greycardinals.scaleo.app/signup/affiliate" rel="nofollow" class="header__links-link">Register</a>
        </div>
    </nav>
</header>