.faq {
    padding-top: 55px;
    position: relative;
    overflow-y: hidden;

    @media (max-width: 480px) {
        padding-top: 34px;
        overflow-x: hidden;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -40px;
        right: 0;
        background-image: url(../img/sections/section-faq/image-coin-bottom.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 712.48px;
        height: 572.59px;
        z-index: -1;

        @media (max-width: 480px) {
            width: 263.115px;
            height: 211.459px;
            bottom: 61px;
            transform: scale(1.8);
            right: -70px;
        }
    }

    &__container {
        margin-bottom: 64px;

        @media (max-width: 480px) {
            margin-bottom: 59.23px;
        }
    }

    &__title {
        color: #DFCA8F;
        text-align: center;
        font-size: 58px;
        font-weight: 700;
        line-height: 58px;
        margin-bottom: 46.72px;

        @media (max-width: 480px) {
            font-size: 33px;
            margin-bottom: 25.23px;
        }
    }

    &__wrapper {
        max-width: 1091px;
        margin: 0 auto;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -58px;
            left: -333px;
            background-image: url(../img/sections/section-faq/image-coin-top.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            width: 498.45px;
            height: 400.58px;
            z-index: -1;

            @media (max-width: 480px) {
                width: 181.344px;
                height: 145.742px;
                transform: scale(1.3);
                top: -60px;
                left: -39px;
                opacity: .5;
            }
        }
    }

    &__list {
        display: grid;
        gap: 15px;

        @media (max-width: 480px) {
            padding: 0 34px;
            gap: 9.32px;
        }

        &-item {
            display: flex;
            flex-direction: column;
            gap: 12.7px;
            border-radius: 12.459px;
            border: 0.779px solid rgba(255, 255, 255, 0.15);
            background-color: rgba(32, 32, 32, 0.10);
            backdrop-filter: blur(77.86947631835938px);
            padding: 27px 28px 27px 65px;

            @media (max-width: 480px) {
                border-radius: 7.812px;
                border: 0.488px solid rgba(255, 255, 255, 0.15);
                background-color: rgba(32, 32, 32, 0.10);
                backdrop-filter: blur(48.82308578491211px);
                padding: 13.98px 13.75px 17.03px 35.41px;
            }
        }

        &-title {
            color: #FFF;
            font-size: 32.476px;
            font-weight: 700;
            line-height: 38.971px;

            @media (max-width: 480px) {
                font-size: 20.362px;
                line-height: 24.434px;
                padding-right: 50px;
            }
        }

        &-text {
            color: #DFCA8F;
            font-size: 22.22px;
            font-weight: 400;
            line-height: 26.664px;
            max-width: 651px;
            display: none;

            @media (max-width: 480px) {
                font-size: 13.932px;
                line-height: 16.718px;
                max-width: 225px;
            }
        }

        &-icon {
            transition: .4s;

            &-wrapper {
                width: 59.824px;
                height: 56.234px;
                background-color: #331112;
                border: 0.779px solid rgba(255, 255, 255, 0.15);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 480px) {
                    width: 37.509px;
                    height: 35.258px;
                }
            }

            &.open {
                transform: rotate(180deg);
            }
        }

        &-question {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__footer {
        max-width: 842px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        @media (max-width: 480px) {
            max-width: 356px;
        }

        &-nav {
            border-radius: 14.574px 14.574px 0 0;
            border-top: 0.911px solid rgba(255, 255, 255, 0.15);
            border-left: 0.911px solid rgba(255, 255, 255, 0.15);
            border-right: 0.911px solid rgba(255, 255, 255, 0.15);
            background-color: rgba(0, 0, 0, 0.01);
            backdrop-filter: blur(22.77202796936035px);
            padding: 26.78px 0;
            display: flex;
            align-content: center;
            justify-content: center;
            gap: 20.91px;

            @media (max-width: 480px) {
                gap: 17.5px;
                align-items: center;
                padding: 12px 0;
                text-align: center;
                flex-wrap: wrap;
            }
        }

        &-title {
            color: #FFF;
            font-size: 24.427px;
            font-weight: 700;
            line-height: normal;
            display: flex;
            flex-shrink: 0;

            @media (max-width: 480px) {
                flex-shrink: 1;
                font-size: 16.133px;
                max-width: 86px;
            }
        }

        &-list {
            display: flex;
            align-items: center;
            gap: 20.91px;

            @media (max-width: 480px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 17.29px;
            }

            &-item {
                display: flex;
                align-items: center;
                gap: 5.16px;

                @media (max-width: 480px) {
                    &:first-child {
                        svg {
                            width: 20.908px;
                            height: 16.892px;
                        }
                    }

                    &:last-child {
                        svg {
                            width: 20.134px;
                            height: 19.963px;
                        }
                    }
                }
            }
        }

        &-link {
            color: #DFCA8F;
            font-size: 24.427px;
            font-weight: 700;
            line-height: normal;
            transition: .4s;

            &:hover {
                color: #FFF;
            }

            @media (max-width: 480px) {
                font-size: 17.596px;
            }
        }
    }
}