.start {
    background-image: url(../img/sections/section-start/image-bg.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 59.76px 0 102.84px 0;
    overflow-x: hidden;

    @media (max-width: 425px) {
        background-image: url(../img/sections/section-start/image-bg.png);
        padding: 61px 0;
    }

    &__container {
        border-radius: 12.459px;
        border: 0.779px solid rgba(255, 255, 255, 0.15);
        background-color: rgba(0, 0, 0, 0.01);
        backdrop-filter: blur(77.86947631835938px);
        max-width: 1023px;
        width: 100%;
        margin: 0 auto;
        padding: 55.35px 79px 56.71px 79px;
        position: relative;

        @media (max-width: 425px) {
            max-width: 338px;;
            border-radius: 12.459px;
            border: 0.779px solid rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(77.86947631835938px);
            padding: 32px 24px 31.23px 37px;
        }
    }

    &__img {
        position: absolute;
        right: 24px;
        bottom: -62px;

        @media (max-width: 425px) {
            width: 175px;
            height: 125px;
            top: -46px;
            right: -25px;
        }
    }

    &__title {
        margin-bottom: 18.88px;
        color: #DFCA8F;
        font-size: 58px;
        font-weight: 700;
        line-height: 69.6px;
        text-transform: uppercase;

        @media (max-width: 425px) {
            font-size: 33px;
            max-width: 247px;
            line-height: 39.6px;
            margin-bottom: 5px;
        }
    }

    &__text {
        margin-bottom: 26.53px;
        color: #FFF;
        font-size: 24.918px;
        font-weight: 400;
        line-height: normal;
        max-width: 514px;

        @media (max-width: 425px) {
            font-size: 15px;
            margin-bottom: 16px;
        }
    }

    &__btn {
        display: flex;
        width: 244.423px;
        height: 74.353px;
        padding: 18.392px 30px;
        justify-content: center;
        align-items: center;
        gap: 9.68px;
        flex-shrink: 0;
        border-radius: 12.459px;
        border: 0.968px solid rgba(255, 255, 255, 0.15);
        background-color: #331112;
        backdrop-filter: blur(48.39887619018555px);
        color: #FFF;
        font-size: 29.59px;
        font-weight: 700;
        line-height: normal;
        transition: .4s;

        &:hover {
            background-color: #DFCA8F;
            color: #101010;
        }

        @media (max-width: 425px) {
            width: 227px;
            height: 60.766px;
            padding: 13.271px 36.32px;
            gap: 6.985px;
            border-radius: 8.99px;
            border: 0.698px solid rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(34.923072814941406px);
            color: #FFF;
            font-size: 21.351px;
            font-weight: 700;
        }
    }
}