.about {
    background-image: url(../img/sections/section-about/image-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 843px;
    position: relative;
    top: -427px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 425px) {
        background-image: url(../img/sections/section-about/image-bg-mobile.png);
        background-size: cover;
        top: -265px;
        margin-bottom: -265px;
    }

    &__title {
        color: #DFCA8F;
        text-align: center;
        font-size: 58px;
        font-weight: 700;
        line-height: 58px;
        text-transform: uppercase;

        &-mobile {
            display: none;

            @media (max-width: 425px) {
                display: block;
                font-size: 33px;
                line-height: 33px;
                text-align: center;
                color: #DFCA8F;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        @media (max-width: 425px) {
            display: none;
        }
    }

    &__list {
        display: grid;
        gap: 28.54px;

        @media (max-width: 425px) {
            display: flex;
            flex-direction: column;
        }

        &:first-of-type {
            @media (max-width: 425px) {

            }

            .about__list-item {
                &:nth-child(2) {
                    position: relative;
                    left: -40px;
                }
            }
        }

        &:last-of-type {
            @media (max-width: 425px) {
                position: relative;
                top: -190px;
                z-index: 2;
                margin-bottom: -124px;
            }

            .about__list-item {
                &:nth-child(1) {
                    justify-content: end;
                }

                &:nth-child(2) {
                    position: relative;
                    right: -40px;
                    justify-content: end;
                }

                &:nth-child(3) {
                    padding-left: 220px;

                    @media (max-width: 425px) {
                        padding-left: 12px;
                    }
                }
            }
        }

        &-item {
            border-radius: 10.489px;
            border: 0.499px solid rgba(255, 255, 255, 0.15);
            background: rgba(0, 0, 0, 0.01);
            backdrop-filter: blur(49.947357177734375px);
            padding: 18.9px 32.3px 18.03px 32.3px;
            display: grid;
            gap: 9.99px;
            width: 574.31px;
            height: 136.927px;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 425px) {
                gap: 20.78px;
                width: 100%;
                max-width: 295.912px;
                height: 98.15px;
                padding: 12px;
                position: unset !important;
                text-align: center;
            }

            &-wrapper {
                display: flex;
                flex-direction: column;
                gap: 9.99px;

                @media (max-width: 425px) {
                    gap: 7.16px;
                }
            }

            &-title {
                color: #FFF;
                font-size: 27.348px;
                font-weight: 700;
                line-height: 27.348px;

                @media (max-width: 425px) {
                    font-size: 19.595px;
                    line-height: normal;
                }
            }

            &-text {
                color: #DFCA8F;
                font-size: 17.947px;
                font-weight: 400;
                line-height: normal;
                max-width: 322px;

                @media (max-width: 425px) {
                    font-size: 12.859px;
                    max-width: 100%;
                    padding: 0 18px;

                    br {
                        display: none;
                    }
                }
            }
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 82.04px;
        width: 956px;

        @media (max-width: 425px) {
            flex-direction: column;
            position: unset;
            width: 100%;
            gap: 0;
        }
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;

        &.animate {
            animation: zoomFadeBounce 1s ease-out forwards;
        }

        @media (max-width: 425px) {
            display: none;
        }

        &-mobile {
            display: none;

            @media (max-width: 425px) {
                width: 100%;
                height: auto;
                display: block;
                position: relative;
                top: -74px;
            }
        }
    }

    &__wrapper {
        padding-top: 120px;
        display: grid;
        gap: 87px;

        @media (max-width: 425px) {
            padding-top: 85px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    &__anchor {
        position: absolute;
        bottom: -205px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        backdrop-filter:blur(42.73px);
        border-radius: 50%;
        overflow: clip;

        @media (max-width: 425px) {
            display: none;
        }
    }
}

@keyframes zoomFadeBounce {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
    }
    60% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}