.partners {
    background: #331112;
    padding: 32.2px 0;
    text-align: center;
    overflow: hidden;

    &__title {
        color: #DFCA8F;
        font-size: 55.551px;
        font-weight: 700;
        margin-bottom: 40.46px;
        text-transform: uppercase;

        @media (max-width: 480px) {
            font-size: 33px;
            max-width: 237px;
            margin: 0 auto 30px auto;
        }
    }

    &__slider-wrapper {
        overflow: hidden;
        width: 100%;
        position: relative;
    }

    &__slider {
        display: flex;
        width: max-content;
        align-items: center;
        animation: scrollLoop 30s linear infinite;

        @media (max-width: 480px) {
            display: none;
        }

        &-mobile {
            display: none;

            @media (max-width: 480px) {
                display: flex;
                width: max-content;
                align-items: center;
                animation: scrollLoop 30s linear infinite;

                img {
                    margin: 0 27.06px;
                    flex-shrink: 0;
                    animation: fadeZoom 0.6s ease forwards;
                    opacity: 0;
                    transform: scale(0.95);
                }
            }
        }

        img {
            margin: 0 27.06px;
            flex-shrink: 0;
            animation: fadeZoom 0.6s ease forwards;
            opacity: 0;
            transform: scale(0.95);

            @media (max-width: 480px) {
                &:nth-of-type(1) {
                    width: 227.025px;
                    height: 72.648px;
                }

                &:nth-of-type(2) {
                    width: 164.271px;
                    height: 82.135px;
                }

                &:nth-of-type(3) {
                    width: 200.718px;
                    height: 65.664px;
                }

                &:nth-of-type(4) {
                    width: 186.894px;
                    height: 67.961px;
                }

                &:nth-of-type(5) {
                    width: 136.646px;
                    height: 60.18px;
                }

                &:nth-of-type(6) {
                    width: 181.004px;
                    height: 77.228px;
                }

                &:nth-of-type(7) {
                    width: 129.629px;
                    height: 83px;
                }

                &:nth-of-type(8) {
                    width: 127.951px;
                    height: 54.184px;
                }

                &:nth-of-type(9) {
                    width: 166.225px;
                    height: 58.308px;
                }
            }
        }
    }

    @keyframes scrollLoop {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    @keyframes fadeZoom {
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}
