<section class="hero">
    <div class="hero__content">
        <img data-aos="zoom-in" data-aos-duration="900" data-aos-easing="ease-out" data-aos-once="true" loading="eager" fetchpriority="high" class="hero__content-img" src="./img/sections/section-hero/image-raven.webp" width="1382" height="1206" alt="Raven">
        <img data-aos="fade-in" data-aos-duration="1200" data-aos-easing="ease-out" data-aos-once="true" loading="eager" fetchpriority="high" class="hero__content-img-mobile" src="./img/sections/section-hero/image-raven-mobile.webp" width="393" height="869" alt="Raven">

        <div class="hero__content-wrapper">
            <div class="hero__content-text">
                <h1 data-aos="fade-up" data-aos-duration="700" data-aos-anchor-placement="top-bottom" data-aos-once="true" class="hero__content-title">Earn. Scale. <br> Grey Cardinals got your back</h1>

                <p data-aos="fade-up" data-aos-duration="800" data-aos-anchor-placement="top-bottom" data-aos-once="true" class="hero__content-subtitle">Private network for buyers who want to scale and earn more - join a closed collegium</p>
            </div>

            <a href="https://greycardinals.scaleo.app/signup/affiliate" rel="nofollow" class="hero__content-btn">Get Started</a>
        </div>
    </div>

    <a href="#about" class="hero__anchor">
        <svg width="158" height="159" aria-label="Icon Anchor" fill="none">
            <use href="#iconAnchor"></use>
        </svg>
    </a>
</section>