<section class="about">
    <div class="about__wrapper">
        <h2 data-aos="zoom-in" data-aos-duration="600" data-aos-easing="ease-out" data-aos-once="true" class="about__title">About our project</h2>
        <h2 id="about-us" data-aos="zoom-in" data-aos-duration="600" data-aos-easing="ease-out" data-aos-once="true" class="about__title-mobile">About <br> our project</h2>

        <div class="about__container">
            <ul class="about__list">
                <li data-aos="fade-right" data-aos-duration="600" data-aos-easing="ease-out" data-aos-once="true" class="about__list-item">
                    <div class="about__list-item-wrapper">
                        <h3 class="about__list-item-title">PROVEN TRACK RECORD</h3>

                        <p class="about__list-item-text">Industry professionals with deep expertise in gambling and a proven track record of successful campaigns</p>
                    </div>
                </li>

                <li data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out" data-aos-once="true" class="about__list-item">
                    <div class="about__list-item-wrapper">
                        <h3 class="about__list-item-title">TOP-TIER OFFERS</h3>

                        <p class="about__list-item-text">Direct access to the highest-converting casino and betting deals.</p>
                    </div>
                </li>

                <li data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out" data-aos-once="true" class="about__list-item">
                    <div class="about__list-item-wrapper">
                        <h3 class="about__list-item-title">FAST PAYOUTS</h3>

                        <p class="about__list-item-text">On-demand payouts without delays <br> — partners get paid.</p>
                    </div>
                </li>
            </ul>

            <img id="about" loading="lazy" class="about__img" width="729" height="729" src="./img/sections/section-about/image-cardinal.webp" alt="Gray Cadrinals">
            <img loading="lazy" class="about__img-mobile" width="393" height="419" src="./img/sections/section-about/image-cardinal-mobile.webp" alt="Gray Cadrinals">

            <ul class="about__list">
                <li data-aos="fade-left" data-aos-duration="600" data-aos-easing="ease-out" data-aos-once="true" class="about__list-item">
                    <div class="about__list-item-wrapper">
                        <h3 class="about__list-item-title">VIP SUPPORT</h3>

                        <p class="about__list-item-text">Dedicated personal managers and 24/7 support — we grow together.</p>
                    </div>
                </li>

                <li data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-out" data-aos-once="true" class="about__list-item">
                    <div class="about__list-item-wrapper">
                        <h3 class="about__list-item-title">EXCLUSIVE TRAFFIC</h3>

                        <p class="about__list-item-text">Private offers and GEOs not available on public affiliate networks.</p>
                    </div>
                </li>

                <li data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out" data-aos-once="true" class="about__list-item">
                    <div class="about__list-item-wrapper">
                        <h3 class="about__list-item-title">SCALING SUCCESS</h3>

                        <p class="about__list-item-text">Our partners generate stable revenue <br> — we grow and earn together </p>
                    </div>
                </li>
            </ul>
        </div>

        <a href="#works" class="about__anchor">
            <svg width="158" height="159" aria-label="Icon Anchor" fill="none">
                <use href="#iconAnchor"></use>
            </svg>
        </a>
    </div>
</section>