<section class="partners">
    <h2 class="partners__title">Our Trusted Partners</h2>

    <div class="partners__slider-wrapper">
        <div class="partners__slider">
            <img src="./img/sections/section-partners/slide-1.webp" width="412.347" height="131.951" alt="Slide 1" />
            <img src="./img/sections/section-partners/slide-2.webp" width="298.056" height="149.028" alt="Slide 2" />
            <img src="./img/sections/section-partners/slide-3.webp" width="363.142" height="118.801" alt="Slide 3" />
            <img src="./img/sections/section-partners/slide-4.webp" width="339.242" height="123.361" alt="Slide 4" />
            <img src="./img/sections/section-partners/slide-5.webp" width="249.163" height="109.734" alt="Slide 5" />
            <img src="./img/sections/section-partners/slide-6.webp" width="328.979" height="140.364" alt="Slide 6" />
            <img src="./img/sections/section-partners/slide-7.webp" width="235.214" height="150.604" alt="Slide 7" />
            <img src="./img/sections/section-partners/slide-8.webp" width="231.643" height="98.094" alt="Slide 8" />
            <img src="./img/sections/section-partners/slide-9.webp" width="299.801" height="105.164" alt="Slide 9" />
        </div>
    </div>
</section>
