<section class="works">
    <div class="works__container">
        <h2 class="works__title">How It Works</h2>

        <div class="works__grid">
            <div class="works__block">
                <header class="works__block-header">
                    <span class="works__block-number">01</span>

                    <h3 class="works__block-title">Sign Up <br> & Get Approved</h3>
                </header>

                <p class="works__block-text">Fill out the form — we review fast and connect you with a manager.</p>
            </div>

            <div class="works__block">
                <header class="works__block-header">
                    <span class="works__block-number">02</span>

                    <h3 class="works__block-title">Pick Your Offers</h3>
                </header>

                <p class="works__block-text">Choose GEOs, and payout models tailored to your traffic.</p>
            </div>

            <div class="works__block">
                <header class="works__block-header">
                    <span class="works__block-number">03</span>

                    <h3 class="works__block-title">Launch <br> Campaigns</h3>
                </header>

                <p class="works__block-text">Drive traffic using our creatives — or your own.</p>
            </div>

            <div class="works__block">
                <header class="works__block-header">
                    <span class="works__block-number">04</span>

                    <h3 class="works__block-title">Track & Earn</h3>
                </header>

                <p class="works__block-text">Get paid stable and what you earn.</p>
            </div>

            <div class="works__block">
                <header class="works__block-header">
                    <span class="works__block-number">05</span>

                    <h3 class="works__block-title">Scale With Us</h3>
                </header>

                <p class="works__block-text">Grow your profit with exclusive offers, premium support, and custom deal terms.</p>
            </div>

            <div class="works__img-wrapper">
                <img class="works__img" loading="lazy" width="376" height="376" src="./img/sections/section-works/image-dice.webp" alt="Dice">
            </div>
        </div>

        <a href="#" class="works__btn">Get Started</a>
    </div>
</section>